.header2{
    max-width: 100%;
    min-height: 70px;
    & nav{
       position: relative;
        z-index: 2;
        padding-top: 15px;
        & ul{
             gap: 180px;
            & li:nth-child(2){
                & ul{
                    gap: 35px;
                }
            }
            & li:last-child input{
                width: 159px;
                height: 44px;
                font-weight: 700;
                line-height: 20.83px;
                font-size: 16px
            }
        }
    }

}



@media screen and (min-width: 1280px) {

}









