.buy-modal{
    display: flex;
    z-index: 10;
    position: absolute;
    top: -440%;
    width: 100%;
    min-height: 1000vh;
     background-color: rgba(212, 20, 68, 0.733);
     backdrop-filter: blur(10px);
    .buy-modal-container{
        box-sizing:border-box;
        max-width: 530px;
        min-height: 600px;
        border-radius: 25px;
        border: 2px solid $ice__secundary;
        background-color: $ice__primary_dark;
        position: relative;
        & span{
            position: absolute;
            left: 95%;
            top:2%;
            color: $ice__secundary;
            cursor: pointer;
        }
        & .buy-title{
            font-size: 30px;
            color: $ice__secundary;
            font-family: $ice__main_font;
        }

    }
    form{
            max-width: 100%;
            max-height: 100%;
            gap: 20px;
        .buy-elements{
            gap: 10px;
            & .buy-label-element{
            gap: 20px;
            & img{
                max-width: 100px;
                max-height: 100px;
                object-fit: cover;
            }
            & input{
                max-width: 100px;
            }
        }
        }

        .buy-contact-info{
            gap: 10px;
            max-width: 300px;
        }
        .label{
            font-family: $ice__paragraph_font;
            color: $ice__secundary;
        }
        .button-light{

            min-width: 150px;
            height: 40px;
            font-weight: 900;
          line-height: 21px;
          margin-bottom: 10px;
        }        
        
        input,textarea{
        &:focus{
            border: 2px solid $ice__secundary;
        }
        }
    }

}