.franchise-modal{
    position: fixed;
    display: flex;
    z-index: 10;
    width: 100vw;
    min-height: 100vh;
    top: 0%;
     background-color: rgba(212, 20, 68, 0.733);
     backdrop-filter: blur(10px);  
    & .title-franchise{
            color: $ice__secundary;
            font-size: 20px;
            font-family: $ice__main_font;
            text-align: center;
        }
    .franchise-container{
        max-width: 450px;
        min-height: 480px;
        text-align: center;
        justify-content: center;
        background-color: $ice__white;
        border-radius: 20px;
        gap: 30px;
        border: 2px solid $ice__primary_dark;
        position: absolute;
        color: $ice__secundary;
       

        & form{
            width: 100%;
            max-height: 100%;
            gap: 1px;
        }

        & label{
            gap: 5px;
            
        }
        & .label-container{
            min-width: 100%;
            gap:10px;
        }
        input,textarea{
        &:focus{
            border: 2px solid $ice__secundary;
        }
        }

        & span{
            color: $ice__secundary;
            position: absolute;
            left: 94.5%;
            cursor: pointer;
        }
        & input{
            width: 100%;
            font-family: $ice__paragraph_font;
            font-weight: 900;
            border: 1px solid $ice__primary_dark;
        }

        & textarea{
            min-width: 80%;
            min-height: 10px;
            font-family: $ice__paragraph_font;
            font-weight: 900;
            border: 1px solid $ice__primary_dark;
        }

        & input{
            &[type="submit"]{
            
            max-width: 150px;
            margin-bottom: 20px;
            margin-top: 20px;
            min-height: 40px;
            font-family: $ice__paragraph_font;
            font-weight: 900;
            border: 1px solid $ice__primary_dark;}
            
        }
    }

}

