header{
    max-width: 1280px;
    min-height: 664px;
    background-color: $ice__primary-dark;

    & .nav-hero{
        margin: 0px 56px;
        max-width: 100%;
        padding-top: 30px;
        gap: 141px;

        & .nav-hero__logo{
        }
        
        & .nav-hero__items{
            & ul{
                gap: 35px;
            }
        }

        & .nav-hero__button{
            & input{
            width: 159px;
            height: 44px;
            border: 0px white;
            }
            
        }
    }
}