header{
    max-width: 1280px;
    min-height: 664px;
    background-color: $ice__primary;
    position: relative;
    & .nav-hero{
        display: flex;
        margin: 0px 56px;
        max-width: 100%;
        padding-top: 30px;
        gap: 130px;
        
        & .nav-hero__items{
            z-index: 2;
            & ul{
                gap: 35px;
                font-family: $ice__paragraph_font;
                font-weight: 700;
                & li:hover{
                    color: $ice__secundary;
                    
                }
            }

        }

        & .nav-hero__button{
            z-index: 1;
            & input{
            width: 159px;
            height: 44px;
            font-weight: 700;
            line-height: 20.83px;
            font-size: 16px;

            &:hover{
                background-color: $ice_hover_button;
            }
            }
            
        }
    }
    & .nav-mobile-hero{
        display: none;
    }


    & .hero-body{
        z-index: 1;
        min-width: 100%;
        position: relative;
        
        & .hero-body__row{
            width: 31%;
            position: absolute;
            left: 10px;
            top: 74px;
            margin: 0px 56px;
            & .hero-body__row__title{
                max-width: 277px;
                max-height: 137px;
                text-align: left;

                & p{
                    letter-spacing: 0.04em;
                    &:first-child{
                        padding: 0px;
                        font-size: 38px;
                        line-height: 43.51px;
                        color: $ice__white;
                        text-align: left;
                    }
                    &:last-child{
                        font-size:58px;
                        line-height: 52.49px;
                        
                    }
                    
                }

            }

            & .hero-body__row_buttons{
                z-index: 1;
                max-width: 100%;
                gap: 12px;
                margin-top: 24px;
                font-size: 14px;
                line-height: 18px;
                font-style: normal;
                
                & .button-dark{
                    width: 107px;
                    height: 40px;
                }

                & .button-light{
                    width: 138px;
                    height: 40px;
                    

                    &:hover{
                        background-color: $ice_hover_button;
                        
                    }
                }
            }

            & .hero-body__row_promotional{
                z-index: 1;
                max-width: 100%;
                margin-top: 40px;
                & .hero-body__row_promotional_text{
                    max-width: 200px;
                    & > div{
                        line-height: 140%;
                    }

                    & .hero-body__row_promotional_text_button{
                        min-width: 26px;
                        min-height: 26px;
                        background: url('../../images/svg/arrow.svg') no-repeat  center/cover;
                        cursor: pointer;
                    }
                }
            }
        }

        & .hero-body__row_right{
            width: 31%;
            position: absolute;
            top: -30px;
            left: 517px;
            z-index: 0;
            & .hero-body__row_right_bg{
                min-width: 534px;
                min-height: 534px;
                background:url('../../images/header/ellipse.svg') no-repeat center;
            }
            & .hero-body__row_right_bg_ice{
                position: absolute;
                top: 57px;
                left: 150px;
                min-width: 236px;
                min-height: 557px;
                background: url('../../images/header/icecream.webp') no-repeat center;
            }
            & .hero-body__row_right_bg_girl{
                position: absolute;
                min-width: 304px;
                min-height: 241px;
                top: 69.9%;
                left:100%;
                background: url('../../images/header/woman.webp') no-repeat center;
            }
            & .hero-body__row_right_text{
                position: absolute;
                top: 21%;
                left: 152%;
                z-index: 0;
                gap: 0px;
                &::before{
                    position: absolute;
                    top: 0;
                    left: 70%;
                    z-index: -1;
                    content: url('../../images/svg/circle.png');
                }
                &p:first-child{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 46px;
                    line-height: 53px;
                    letter-spacing: 0.04em;
                }
                &p:last-child{
                    font-family: $ice__paragraph_font;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                }
            }

            & .hero-body__row_right_text:last-child{
                top: 45%;
                &p:first-child{
                    font-size: 43px;
                }
            }
        }
    }

    & .header2{
        display: none;
    }

    & .bubbles{

        position: relative;
        z-index: 0;
        max-width: 100%;
        top: 500px;
        & span{
            z-index: 0;
            position: absolute;
            bottom: -50px;
            background: transparent;
            border-radius: 50%;
            pointer-events: none;
            box-shadow: inset 0 0 10px rgba(230,32,126,0.38);
            animation: animate 4s linear infinite;
        }


    }

    @keyframes animate{
        0%{
            transform: translateY(0%);
            opacity: 1;
        }
        99%{
            opacity: 1;
        }
        100%{
            transform: translateY(-1200%);
            opacity: 0;
        }

    }

    main .hero{
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    header{
        
            min-height: 416px ;
    & .nav-hero{
            display: none;

        }
    & .hero-body{
        
        min-width: 100%;
        position: relative;
        
        & .hero-body__row{
            top: 18px;
            
            & .hero-body__row__title{
                max-width: 20vw;
                max-height: 10vw;
                text-align: left;

                & p{
                    letter-spacing: 0.041vw;
                    
                    &:first-child{
                        font-size: 2.5vw;
                        line-height: 25.19px;
                        padding-bottom: 1vw
                    }
                    &:last-child{
                        font-size:5vw;
                        line-height: 30.77px;
                        
                    }
                    
                }

            }

            & .hero-body__row_buttons{
                max-width: 100%;
                gap: 12px;
                margin-top: 20px;
                line-height: 10px;
                font-style: normal;

                & .button-dark,
                & .button-light{
                    font-size: 1.2vw;
                    max-height: 4vw;
                }

                & .button-dark{
                    max-width: 10vw; 
                       
                }

                & .button-light{
                    max-width: 12vw;

                    &:hover{
                        background-color: $ice_hover_button;
                        
                    }
                }
            }

            & .hero-body__row_promotional{

                max-width: 100%;
                margin-top: 16px;
                & img{
                    max-width: 152px;
                    max-height: 154px;
                }
                & .hero-body__row_promotional_text{
                    max-width: 114px;
                    z-index: 1;
                    & > div{
                        font-weight: 400;
                        font-size: 8px;
                        line-height: 150%;
                    }

                    & .hero-body__row_promotional_text_button{
                        min-width: 18px;
                        min-height: 18px;
                        background: url('../../images/svg/arrow.svg') no-repeat  center/cover;
                        cursor: pointer;

                    }
                }
            }
        }

        & .hero-body__row_right{
            
            max-width: 100%;
            min-height: 419px;
            position: absolute;
            top: -7vw;
            left: 42vw;
            z-index: 0;
            & .hero-body__row_right_bg{
                
                box-sizing: border-box;
                min-height: 368px;
                min-width: 368px;
                background:url('../../images/header/ellipse.svg') no-repeat center;
                z-index: inherit;
                background-size: 368px 368px ;
            }
            & .hero-body__row_right_bg_ice{
                top:8vw;
                left: 10vw;
                min-width: 144px;
                min-height: 336px;
                background-repeat: no-repeat;
                background-size: 144px 336px ;
            }
            & .hero-body__row_right_bg_girl{
                position: absolute;
                min-width: 190px;
                min-height: 150px;
                background-size: 190px 150px ;
                top: 8vh;
                left:39vh;
                
                
            }
            & .hero-body__row_right_text{
                position: absolute;

                top: 15%;
                left: 152%;
                z-index: 0;
                gap: 0px;
                &::before{
                    position: absolute;
                    top: 14%;
                    left: 70%;
                    z-index: -1;
                    content: url('../../images/header/Ellipse\ 1.svg');

                }
                
                & .title{
                    font-size: 28px;
                }
                & p{
                    font-size: 8px;
                }

            
            }

            & .hero-body__row_right_text:last-child{
                top: 37%;
                &p:first-child{
                    font-size: 43px;
                }
            }
        }
    }

    & .nav-mobile-hero{
        z-index: 3;
        display: flex;
        margin: 0px 54px;
        max-width: 100%;
        padding-top: 18px;
        gap: 61vw;
        box-sizing: border-box;

        & .nav-mobile-bars-menu{
            cursor: pointer;
            font-size: 25px;
            z-index: 3;
        }

        & .fa-bars{
            color: $ice__secundary;
            
        }
        & .nav-mobile-hero__menu{
            
            gap: 32px;
            & .nav-mobile-hero__menu__button{
                & input{
                    min-width: 160px;
                    min-height: 44px;
                    font-weight: 700;
                    line-height: 20.83px;
                    font-size: 16px;
                    cursor: pointer;
                    &:hover{
                        background-color: $ice_hover_button;
                    }
                }
            }
        }

    }

    & .mobile-menu{ 
    
        z-index: 3;
        position: absolute;
        top: 0;
        left: 80%;
        min-width: 254px;
        min-height: 100%;
        background-color: #E17992;
        & .fa-xmark{
            position: absolute;
            top: 1%;
            left: 90%;
            cursor: pointer;
        }
        & ul{
            position: relative;
            gap: 22px;
            font-family: $ice__paragraph_font;
            color: $ice__white;
            font-weight: 700;
            font-size: 14px;
            min-width: 100%;
            & li{
                cursor: pointer;
                padding-left: 20px;
                &:hover{
                    color: $ice__secundary;
                }
            }
        }
        & .mobile-menu__button{
            margin-top: 22px;
            min-width: 225px;
            
            & input{
                min-width: 160px;
                min-height: 44px;
                font-weight: 700;
                line-height: 20.83px;
                font-size: 16px;
                cursor: pointer;
                &:hover{
                    background-color: $ice_hover_button;
                    }
                }
        }

    }

    & .bubbles{
        top: 300px;
    }
    }
    main .hero{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    header{
        width: 100%;
        min-height: 502px ;
        & .nav-hero{
            display: none;
        }
        & .nav-mobile-hero{
            display: flex;
        }
        & .hero-body{
            & .hero-body__row_promotional{
                display: none;
            }
            
            & .hero-body__row {
                top: 138px;
                z-index: 1;
                & .hero-body__row__title{
                    max-width: 218px;
                    text-align: left;

                    & p{
                        letter-spacing: 0.041vw;
                        
                        &:first-child{
                            font-size: 26px;
                            line-height: 25.19px;
                            padding-bottom: 1vw
                        }
                        &:last-child{
                            font-size: 40px;
                            line-height: 30.77px;
                            
                        }
                        
                    }

                }
            & .hero-body__row_buttons{
                max-width: 100%;
                gap: 12px;
                margin-top: 20px;
                line-height: 10px;
                font-style: normal;

                & .button-dark,
                & .button-light{
                    font-size: 8px;
                    max-height: 24px;
                }

                & .button-dark{
                    min-width: 61.2px; 
                       
                }

                & .button-light{
                    min-width: 82.8px;

                    &:hover{
                        background-color: $ice_hover_button;
                        
                    }
                }
            }
            }


        }
        & .hero-body__row_right{
            max-width: 100%;
            min-height: 402px;
            position: absolute !important;
            top: -17px !important;
            left: 29vw !important;
            z-index: 0;
             & .hero-body__row_right_bg{
                min-height: 346px !important;
                max-width: 344px !important;
                min-width: 344px !important;
                background:url('../../images/header/ellipse.svg') no-repeat center;
                z-index: inherit;
                background-size: 346px 344px !important;
            }
            & .hero-body__row_right_bg_ice{
                position: absolute !important;
                top: 10.3% !important;
                left: 10% !important;
                min-width: 171px !important;
                min-height: 410px !important;
                background-size: 171px 410px !important;
            }
            & .hero-body__row_right_bg_girl,
            .hero-body__row_right_text {
                display: none;
            }

        }
        & .nav-mobile-hero{
        z-index: 2;
        display: flex;
        margin: 0px 54px;
        max-width: 100%;
        padding-top: 18px;
        gap: 61vw;
        box-sizing: border-box;

        & .nav-mobile-bars-menu{
            cursor: pointer;
            font-size: 25px;
            z-index: 1;
        }

        & .fa-bars{
            color: $ice__secundary;
            
        }
        & .nav-mobile-hero__menu{
            
            gap: 32px;
            & .nav-mobile-hero__menu__button{
                display: none;
                & input{
                    min-width: 160px;
                    min-height: 44px;
                    font-weight: 700;
                    line-height: 20.83px;
                    font-size: 16px;

                    &:hover{
                        background-color: $ice_hover_button;
                    }
                }
            }
        }

        }
    & .mobile-menu{ 
        
        z-index: 3;
        position: absolute;
        top: 0;
        left: 67%;
        min-width: 254px;
        min-height: 502px;
        background-color: #E17992;
        & .fa-xmark{
            position: absolute;
            top: 1%;
            left: 90%;
            cursor: pointer;
        }
        & ul{
            position: relative;
            gap: 22px;
            font-family: $ice__paragraph_font;
            color: $ice__white;
            font-weight: 700;
            font-size: 14px;
            min-width: 100%;
            & li{
                cursor: pointer;
                padding-left: 20px;
                &:hover{
                    color: $ice__secundary;
                }
            }
        }
        & .mobile-menu__button{
            margin-top: 22px;
            min-width: 225px;
            
            & input{
                min-width: 160px;
                min-height: 44px;
                font-weight: 700;
                line-height: 20.83px;
                font-size: 16px;

                &:hover{
                    background-color: $ice_hover_button;
                    }
                }
        }

    }
    & .bubbles{
        top: 380px;
    }
    }
main .hero{
    display: none;
}
}


@media screen and (min-width: 1280px) {
   header{
    max-width: 100%;
    min-height: 70px;
    &  .nav-mobile-hero{
        display: none;
    }
    & .mobile-menu{
        display: none;
    }
    .header2{
        display: flex;
        max-width: 100%;
        min-height: 70px;
        & nav{
        position: relative;
            z-index: 2;
            padding-top: 15px;
            & ul{
                gap: 180px;
                & li:nth-child(2){
                    & ul{
                        gap: 35px;
                    }
                }
                & li:last-child input{
                    width: 159px;
                    height: 44px;
                    font-weight: 700;
                    line-height: 20.83px;
                    font-size: 16px
                }
            }
        }

} 
 .hero-body{
    display: none;
 }
 .nav-hero{
    display: none;
 }

}

main .hero{
    background-color: $ice__primary;
    max-width: 100%;
    max-height: 594px;
    display: flex;
    & .hero-row{
        max-width: 100%;
        margin: auto 30px;
        & .hero-col-6{
            min-width: 30%;
            max-height: 100%;
            & .brand{
                gap: 64px;
                width: 100%;
                & .brand-text{
                    max-width: 277px;
                    max-height: 137px;

                    & p{
                        font-family: $ice__main_font;
                        color: $ice__white;
                        font-size: 38px;
                    }
                    & span{
                        color: $ice__secundary;
                        font-size: 58px;
                    }
                }

                & .brand-buttons{
                    min-width: 277px;
                    max-height: 137px;
                    gap: 12px;
                    & button{
                        border-radius: 20px;
                        height: 40px;
                        border: none;
                        cursor: pointer;
                    }
                    & button:first-child{
                        width: 107px;
                        color: $ice__white;
                        background-color: $ice__secundary;
                    }
                    & button:last-child{
                        width: 138px;
                        color: $ice__secundary;
                        background-color: $ice__white;
                    }
                }
            }

            & .recipe{
                max-width: 100%;
                & .recipe__description{
                    font-size: 14px;
                    gap: 1px;
                    & picture{
                        cursor: pointer;
                    }
                }
            
            }

        }
        & .hero-col-4{
            min-width: 50%;
            max-height: 100%;

            & picture{
                position: relative;
                z-index: 1;
            }
            & picture::after{
                content:'';
                z-index: -1;
                position: absolute;
                left: -50%;
                top: -6%;
                display: inline-block;
                min-width: 500px;
                min-height: 500px;
                background-color: $ice__primary-dark;
                border-radius: 50%;
            }
        }
        & .hero-col-2{
            min-width: 20%;
            min-height: 100%;
            gap: 180px;

            & .text-container{

                gap: 35px;
                width: 100%;
                & .text{
                min-width: 72px;
                max-height: 58px;
                text-align: left;
                

                & p:first-child{
                    font-family: $ice__main_font;
                    font-size: 46px;
                    color:$ice__secundary;
                    display: inline;
                    position: relative;
                    z-index: 1;
                    &::after{
                        content:'';
                        min-width:30px;
                        min-height: 30px;
                        display: inline-block;
                        background-color: $ice__white;
                        border-radius: 50%;
                        position: absolute;
                        left: 70%;
                        z-index: -1;
                            }
                         }

                }

                    
            }


        }
    }
}
}
.hide-menu{
        display: none;
    }



