@import "../utils/brand_color";
@import "../utils/font_family";

.subtitle {
  font-family: $ice__main_font;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $ice__primary-dark;
  margin: 60px 0 16px 0;
}

.title {
  font-family: $ice__main_font;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  color: $ice__secundary;
  margin: 0;
}

.products{
    display: flex;
    flex-direction: row;

    &__item{
        height: 535px;
        width: 368px;
        text-align: center;
        align-items: center;
        border-radius: 24px;
        border: 1px solid $ice__secundary;
        margin: 281px 16px 60px;
        position: relative;
    }

    &__image{
        position: absolute;
        bottom: 50%;
    }
}


