.products {
  display: flex;
  flex-direction: row;

  &__item {
    height: 535px;
    width: 368px;
    text-align: center;
    align-items: center;
    border-radius: 24px;
    background-color: $ice__primary;
    margin: 281px 16px 60px;
    position: relative;

    &:hover {
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.12);
      background-color: rgb(211, 145, 161);
    }
  }
  &__item--coffee {
    background-color: $ice__gold-yellow;

    &:hover {
      background-color: rgb(230, 201, 162);
    }
  }

  &__item--green {
    background-color: $ice__green-pistachio;
    &:hover {
      background-color: rgb(179, 209, 140);
    }
  }

  &__image {
    position: absolute;
    right: 0%;
    bottom: 75%;
  }

  &__title {
    font-family: $ice__main_font;
    font-weight: 400;
    font-size: 30px;
    line-height: 23px;
    letter-spacing: 0.04em;
    margin: 165px 0 30px;
  }

  &__description {
    font-family: $ice__paragraph_font;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    width: 241px;
    height: 106px;
    margin: 32px auto 60px;
  }
  &__arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__item:hover &__arrow {
    transform: rotate(-90deg);
  }

  &__animation {
    width: 40px;
    height: 40px;
    margin: auto;
    cursor: pointer;
  }

  &__detaildescription {
    position: absolute;
    top: 0;
    left: 0;
    width: 368px;
    height: 535px;
    font-weight: 800;
    font-size: 25px;
    background: rgba(255, 184, 202, 0.8);
    border-radius: 24px;
    color: $ice__secundary;
    display: none;
  }
  &__detaildescription--coffee {
    background-color: rgba(240, 209, 165, 0.8);
  }
  &__detaildescription--green {
    background-color: rgba(194, 226, 151, 0.8);
  }

  &__animation:active > &__detaildescription {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products {
    &__item {
      height: 473px;
      width: 224px;
      margin: 158px 32px 60px;
    }

    &__image {
      position: absolute;
      right: 0%;
      bottom: 75%;
      width: 100%;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 20px;
      line-height: 22.9 px;
      margin: 118px 0 30px;
    }

    &__description {
      font-size: 14px;
      line-height: 24.64px;
      width: 160px;
      height: 150px;
      margin: 32px auto 32px;
      overflow: hidden;
    }

    &__detaildescription {
      width: 224px;
      height: 473px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .products {
    display: flex;
    flex-direction: column;

    &__item {
      height: 489px;
      width: 280px;
      margin: 148px 20px 0px;
    }

    &__image {
      position: absolute;
      right: 0%;
      bottom: 70%;
      width: 100%;
    }

    &__title {
      font-size: 20px;
      line-height: 22.9 px;
      margin: 160px 0 30px;
    }

    &__description {
      line-height: 21.28px;
      width: 200px;
      height: 124px;
      margin: 32px auto 40px;
      overflow: hidden;
    }

    &__detaildescription {
      width: 280px;
      height: 489px;
      font-size: 20px;
    }
  }
}
