$ice__primary:#FFB8CA ;
$ice__primary-ligh: #FFF5F6;
$ice__primary-dark: #FFA5BA;

$ice__secundary: #D41443;

$ice__gold-yellow: #F0D1A5;
$ice__green-pistachio: #C2E297;
$ice__white: #FFF;
$ice_dark_white:#FAFAFA;
$ice_gray:#907E82;
$ice_light_gray:#D9D9D9;
$ice_black: #000;

$ice_hover_button: #ECEBEB;





